In [39]:
# importing necassery packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#%matplotlib inline` is a magic command in Jupyter notebooks that allows plots to be displayed directly within the notebook. 

%matplotlib inline
import matplotlib
import warnings
warnings.filterwarnings('ignore')
matplotlib.rcParams["figure.figsize"] = (20,10)

## Data Cleaning
Remove rows with missing values and understanding dataset.There are some data that are ambiguous like room with 42 bedrooms whihc are ambiguous and needs to be removed.

In [40]:
df=pd.read_csv("Bengaluru_House_Data.csv")
print(df.columns)

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [41]:
#removing unwanted features
df1=df.drop(['area_type','availability','society','location'],axis='columns') # new dataframe after removing unwanted features
df1.head()

        size total_sqft  bath  balcony   price
0      2 BHK       1056   2.0      1.0   39.07
1  4 Bedroom       2600   5.0      3.0  120.00
2      3 BHK       1440   2.0      3.0   62.00
3      3 BHK       1521   3.0      1.0   95.00
4      2 BHK       1200   2.0      1.0   51.00

In [43]:
# data cleaning by removing row with NaN (Not A Number)
#df1.isnull().sum() to count the number of missing values in each column
# print(df1.isnull().sum())

# defined to extract the numerical value from the 'size' column
def changeToNumber(row):
    return int(row['size'].split(' ')[0])
df1=df1.dropna(axis=0)
df1.head()
df1['size'].unique()
df1['bhk']=df1.apply(changeToNumber,axis=1)
# print(sorted(df1['bhk'].unique()))
df1[df1.bhk > 9]['bhk'].count() 
df1=df1[df1.bhk <9] # removing column where bhk>9

[1, 2, 3, 4, 5, 6, 7, 8]
            size  bhk
0          2 BHK    2
1      4 Bedroom    4
2          3 BHK    3
3          3 BHK    3
4          2 BHK    2
...          ...  ...
13314      3 BHK    3
13315  5 Bedroom    5
13317      2 BHK    2
13318      4 BHK    4
13319      1 BHK    1

[12666 rows x 2 columns]